.warn_disk_area {
  text-align:center;
  border: solid 2px;
  border-color: #CC3333!important;
  width: 100%;
  padding: 10px 0px;
  margin: 10px 0px 5px 0;
  color: #cf3232;
  font-weight: bold;
}

.mailMenu > button,
.mailMenu > div > button {
  white-space: nowrap;
}

.ui-autocomplete,
.ui-autocomplete-input
{
  width: 600px!important;
  padding-inline-start: 5px!important;
  padding-left: 5px!important;
  font-size: 0.9rem!important;
}

/* autocomplete scroll */
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
}

.ui-widget-overlay {
  position: fixed!important;
}

.sendKn_table {
  margin-top:30px!important;
  border-top-width:0px!important;
}

#jquery-ui-autocomplete label {
  float: left;
  margin-right: 0.5em;
  color: black;
}
/* Auto Complete */
