@charset "utf-8";

/* 背景カラー指定-----------------------------------------------------------------------------------------------------*/
/* ①   ヘッダ1 表要素ヘッダ メイン画面インフォメーションヘッダ、スケジュール表示グループヘッダ等 */
.bgC_header1
 {
/* デフォルト */background-image: linear-gradient(to bottom, #efeffa, #dfdfee)!important;
 }
.mainTable_title,
.table_title-color
 {
/* デフォルト */background-image: linear-gradient(to bottom, #efeffa, #dfdfee)!important;
 }

/* ポータルホバー 表示枠線色 */
.portalTabList ul .portalTabList_tab-nonforcus a:hover {
    outline-color: #e1e1e1;
}
.compBtn
 {
   background-image: linear-gradient(to bottom, #efeffa, #dfdfee)!important;
   border-style: solid!important;
   border-width: 1px!important;
   border-color: #cdcdcd;
 }

/* ②   ヘッダ2    スケジュール日付背景色、ショートメールタブ背景色、稟議表要素ヘッダ背景色、各設定画面左ヘッダ */
.bgC_header2
 {
/* デフォルト */background-color: #e5edfe!important;
 }
.table-top > tbody > tr > th,
.table-top > thead > tr > th,
.table-left > tbody > tr > th,
.table_common2 > tbody > tr > th,
.mainTable_th,
div.formRoot > div.formTable > div.formRow > div.formBlock > div.form_title,
#form_builder .contents.cell div.title,
.ug_tit,
.userGroup_title,
.cht_sideHeader
 {
/* デフォルト */background-color: #e5edfe!important;
 }

.easyRegister-bubble,
.cht_selectTab,
.helpBubbleBtn > .helpBubble {
  border-color: #e5edfe;
}

.bubble-leftBottom:after,
.bubble-rightBottom:after,
.helpBubbleBtn > .helpBubble.helpBubble-topright:before,
.helpBubbleBtn > .helpBubble.helpBubble-topleft:before,
.helpBubbleBtn > .helpBubble.helpBubble-topcenter:before {
  border-top: 26px solid #e5edfe!important;
}

.bubble-leftTop:after,
.bubble-rightTop:after,
.helpBubbleBtn > .helpBubble.helpBubble-bottomright:before,
.helpBubbleBtn > .helpBubble.helpBubble-bottomleft:before,
.helpBubbleBtn > .helpBubble.helpBubble-bottomcenter:before {
  border-bottom: 26px solid #e5edfe!important;
}

/* ③   表セル 各プラグイン表要素のセル背景色(偶数行) */
.bgC_tableCellEvn {
/* デフォルト */background-color: #f8f8ff!important;
}
.table-top > tbody > tr:nth-child(odd),
.table_col-even > tbody > tr:nth-child(even) {
/* デフォルト */background-color: #f8f8ff;
}
/* ④   サイドヘッダ  稟議サイドメニューヘッダ、ショートメールサイドメニューヘッダ、掲示板サイドメニューヘッダ */
.bgC_header3
 {
/* デフォルト */background-color: #e9e9f6!important;
 }
.side_header
{
/* デフォルト */background-image: linear-gradient(to bottom, #f3f3fb, #d9d8ef)!important;
 }

/* ⑤   設定項目ヘッダ 管理者設定、個人設定の項目ヘッダ */
.bgC_settingDt {
/* デフォルト */background-image: linear-gradient(to bottom, #efeffb, #e5e4f2)!important;

}

.settingList dt {
/* デフォルト */background-image: linear-gradient(to bottom, #efeffb, #e5e4f2)!important;
}

/* ⑦メインメニュー背景 */
.bgC_menu {
/* デフォルト */background-image: linear-gradient(to bottom, #607a9b, #333334)!important;
}

/* ⑨   ポータル背景  ポータル背景 */
.bgC_portalTab {
/* デフォルト */background-image: linear-gradient(to bottom, #ffffff, #ececec)!important;
}

.portalTabList {
/* デフォルト */background-image: linear-gradient(to bottom, #ffffff, #ececec)!important;
}

/* ⑪メール一覧ホバー色 */
.sml_list_content_on {
  background-color:#e5edfe!important;
  border-bottom:1px solid #0066ff!important;
  border-top:1px solid #0066ff!important;
  transition: 0.2s;
}

/* メイン画面 ポータル 未選択 */
.portalTabList_tab-nonforcus {
  background-color: #41546e!important;
}

/* ダイアログ 背景色 */
.ui-dialog {
  background-image: linear-gradient(to bottom, #6d6eb2, #6d6eb2)!important;
}

/* ⑫インフォメーションカラー */
.information_top {
  background-color: #6d6eb2!important;
}

.information_top,
.information_middle,
.information_bottom {
  border-color: #6d6eb2!important;
}

/* ⑬チャット ホバーカラー */
.media_mine:hover,
.media_selected {
  background-color: #e5edfe;
  border-bottom-color:#0066ff!important;
  border-top-color:#0066ff!important;
}

.media_selectedColor {
  border-color: #0066ff!important;
  background-color: #e5edfe!important;
}

.memo_hover_color {
  background-color: #f2f7fd!important;
}

.media_mine:hover .edit_deleteArea {
  border-bottom-color:#0066ff!important;
  border-left-color:#0066ff!important;
  border-right-color:#0066ff!important;
  background-color: #e5edfe;
}

.cht_grpConfSelectGroup:hover,
.cht_grpConfSelectedGroup,
.rngApiConnectConfParam_background-select {
  background:#e5edfe;
  border-color: #0066ff!important;
}

/* 共通 ユーザ選択UI */
.multiselector_filter-focus,
.multiselector_filterContent {
  background-color: #e5edfe;
}

.cht_grpConfAddGroup:hover,
.cht_grpConfSelectedAddGroup {
  background:#e5edfe;
  outline:solid 2px #0066ff;
}


.cl_fontArrow {
  color: #41546e!important;
}
.selectoutline {
  outline: 2px solid #41546e!important;
}
.list_content-selected {
  background-color: #f2f7fd;
  border-bottom: 1px solid #41546e;
  border-top: 1px solid #41546e;
}


/* -------------------------------------------------------------------------------------------------------------------*/

.side_folder-focus:hover,
.content-hoverChange:hover,
.content-hoverChangeSelected {
  background-color: #e5edfe!important;
  cursor: pointer;
  transition: 0.2s;
}

.side_header:hover {
  background-image: linear-gradient(to bottom, #e5edfe, #e5edfe)!important;
  transition: 0.2s;
}


/* ホバー時色*/
.table-top > tbody > tr .list_content-on,
.mainTable > tbody > tr .list_content-on {
  background-color:#f2f7fd!important;
  border-bottom:1px solid #59708e!important;
  border-top:1px solid #59708e!important;
  transition: 0.2s;
}

.table-top > tbody > tr .list_content-topBorder,
.mainTable > tbody > tr .list_content-topBorder {
  border-bottom: 1px solid #59708e!important;
  transition: 0.2s;
}


