@charset "utf-8";

/* 背景カラー指定-----------------------------------------------------------------------------------------------------*/
/* ①   ヘッダ1 表要素ヘッダ メイン画面インフォメーションヘッダ、スケジュール表示グループヘッダ等 */
.bgC_header1
 {
/*青        */background-color: #4994dd!important;
 }
.mainTable_title,
.portalTabList_tab-forcus,
.table_title-color,
.table-top > tbody > tr > th,
.table-top > thead > tr > th,
.ui-dialog,
.ui-dialog .ui-dialog-titlebar,
.side_header,
.cht_sideHeader
 {
/*青      */background-color: #4994dd;
 }

.easyRegister-bubble,
.cht_selectTab,
.helpBubbleBtn > .helpBubble,
.multiselector_filter  {
  border-color: #4994dd;
}

.bubble-leftBottom:after,
.bubble-rightBottom:after,
.helpBubbleBtn > .helpBubble.helpBubble-topright:before,
.helpBubbleBtn > .helpBubble.helpBubble-topleft:before,
.helpBubbleBtn > .helpBubble.helpBubble-topcenter:before {
  border-top: 26px solid #4994dd!important;
}

.bubble-leftTop:after,
.bubble-rightTop:after {
  border-bottom: 26px solid #4994dd!important;
}

/* ポータルホバー 表示枠線色 */
.portalTabList ul .portalTabList_tab-nonforcus a:hover {
    border: 3px solid #4994dd!important;
}

/* 掲示板 フォーラム一覧 */
.main_bbsList-header {
  color: #fff;
  background-color: #4994dd;
}

.menu_lockBtn {
  color: #4994dd;
}

/* インフォメーション */
.information_top {
  background-color: #4994dd;
}

.information_top,
.information_middle,
.information_bottom {
  border-color: #4994dd;
}

/* 共通 ユーザ選択UI */
.multiselector_filter-focus,
.multiselector_filterContent {
  background-color: #4994dd;
}

.cl_multiselector {
  color: #4994dd!important;
}

.cl_fontArrow {
  color: #4994dd!important;
}
.selectoutline {
  outline: 2px solid #4994dd!important;
}
.list_content-selected {
  background-color: #e8eefc;
  border-bottom: 1px solid #4994dd;
  border-top: 1px solid #4994dd;
}

/* ②   ヘッダ2    スケジュール日付背景色、ショートメールタブ背景色、稟議表要素ヘッダ背景色、各設定画面左ヘッダ */
.bgC_header2
 {
/*青      */background-color: #c8dff3!important;
 }

.cal_header,
.table-left > tbody > tr > th,
.table_common2 > tbody > tr > th,
.mainTable_th,
.main_zskSchedule,
div.formRoot > div.formTable > div.formRow > div.formBlock > div.form_title,
#form_builder .contents.cell div.title,
.ug_tit,
.userGroup_title
 {
  /*青      */background-color: #c8dff3;
 }

#information_top {
     background-image: linear-gradient(to bottom, #c8dff3, #4994dd);
}
.information_middle_div {
    border-color: #4994dd;
}
#information_bottom {
    border-color: #4994dd;
}

.menu_header button:focus,
.menu_header input:focus,
.menu_header select:focus,
.menu_header textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px #c8dff3;
}
.menu_header a:focus {
  outline-color: #c8dff3;
}

.menu_header button:active,
.menu_header select:active {
  outline: none;
  box-shadow: 0 0 0 2px #c8dff3;
}


/* ③   表セル 各プラグイン表要素のセル背景色(偶数行) */
.bgC_tableCellEvn {
/*青      */background-color: #f4f7fc!important;
}
.table-top > tbody > tr:nth-child(odd),
.table_col-even > tbody > tr:nth-child(even) {
/*青      */background-color: #f4f7fc;
}
/* ④   サイドヘッダ  稟議サイドメニューヘッダ、ショートメールサイドメニューヘッダ、掲示板サイドメニューヘッダ */
.bgC_header3
 {
/*青      */background-color: #c8dff3!important;
 }

/* ⑤   設定項目ヘッダ 管理者設定、個人設定の項目ヘッダ */
.bgC_settingDt {
/*青      */background-image: linear-gradient(to bottom, #80bce9, #0659c5);

}

.settingList_title {
/*青      */background-image: linear-gradient(to bottom, #80bce9, #0659c5);
}

.wrapper > .settingList dl:hover{
    background-color:#e8eefc!important;
}


/* ⑧   プラグインアイコン背景 プラグインアイコン背景 */
/*
.menu_ico_base {
}

.pageTitle li:first-child {
}
*/
/* ⑨   ポータル背景  ポータル背景 */
.bgC_portalTab {
/*青      */background-color: #c8dff3!important;
}

.portalTabList {
/*青      */background-color: #c8dff3;
}

/* ⑩   cmn003ヘッダ 完了ボタン */
.bgC_menuHead {
/*青      */background-color: #263e71!important;
}

.menu_header,
.compBtn {
/*青      */background-color: #2566ad;
}
.compBtn:hover {
/*青      */background-color: #4994dd;
}

button:focus,
input:focus:not([type=radio]),
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(38,62,113, 0.6);
}

a:focus {
  outline-color: rgba(38,62,113, 0.6);
}

button:active,
select:active {
  outline: none;
  box-shadow: 0 0 0 2px rgba(38,62,113, 0.6);
}

/* ⑪メール一覧ホバー色 */
.sml_list_content_on {
  background-color:#e8eefc!important;
  border-bottom:1px solid #c8dff3!important;
  border-top:1px solid #c8dff3!important;
  transition: 0.2s;
}

/* ⑪   プラグイン開閉線     */
.bgC_menuFoot {
/*青      */background-color: #263e71!important;
}

.menu_close_base {
/*青      */border-top:solid 1px #263e71; background: linear-gradient(180deg, #e7e7e7 2px, rgba(255,255,255,0) 50%);
}

/* ⑫   プラグイン開閉タブ    */
.bgc_menuClose {
/*青      */background-color: #919191!important;
}
.menu_close_btn {
  color: #fff;
  background:
  linear-gradient(70deg, rgba(255,255,255,0), rgba(255,255,255,0) 10%, #919191 12% ) no-repeat top left/51% 100%,
  linear-gradient(110deg, #919191,#919191 90%, rgba(255,255,255,0) 92%) no-repeat top right/51% 100%;
}

/* ⑬チャット ホバーカラー */
.media_mine:hover,
.media_selected {
  background-color: #e8eefc;
  border-bottom-color:#c8dff3!important;
  border-top-color:#c8dff3!important;
}

.media_selectedColor {
  border-color: #c8dff3!important;
  background-color: #e8eefc!important;
}

.media_mine:hover .edit_deleteArea {
  border-bottom-color:#c8dff3!important;
  border-left-color:#c8dff3!important;
  border-right-color:#c8dff3!important;
  background-color: #e8eefc;
}

.cht_grpConfSelectGroup:hover,
.cht_grpConfSelectedGroup,
.rngApiConnectConfParam_background-select {
  background:#e8eefc;
  border-color: #c8dff3!important;
}

.cht_grpConfAddGroup:hover,
.cht_grpConfSelectedAddGroup {
  background:#e8eefc;
  outline:solid 2px #c8dff3;
}


/* -------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------*/
/* ホバー時色*/

.menu_btn:hover {
  background-color: #c8dff3;
}

.memo_hover_color {
  background-color: #e8eefc!important;
}

.side_folder-focus:hover,
.td-hoverChange:hover,
.content-hoverChange:hover,
.content-hoverChangeSelected {
  background-color:#e8eefc!important;
  cursor: pointer;
  transition: 0.2s;
}

.table-top > tbody > tr .list_content-on,
.mainTable > tbody > tr .list_content-on {
  background-color:#e8eefc!important;
  border-bottom:1px solid #c8dff3!important;
  border-top:1px solid #c8dff3!important;
}

.table-top > tbody > tr .list_content-topBorder,
.mainTable > tbody > tr .list_content-topBorder {
  border-bottom: 1px solid #c8dff3!important;
}